
/*afficher et masquer l' aside.*/
.asideActive{
    translate: 0 0;
}

/*affichage des sections du dashboard*/

.sectionActive{
    display: flex;
}

/*afficher le formulaire d'ajout d'un eleve*/

.formActive{
    display: flex;
}

/*afficher modal*/

.modalActive{
    display: flex;
}

/*afficher tooltips*/
.tooltipActive{
    display: flex;
}
/*afficher la photo de profil*/
.previewActive{
    display: flex;
}